
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Light.ttf') format('truetype'),
         url('../fonts/LibreFranklin-Light.woff2') format('woff2'),
         url('../fonts/LibreFranklin-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-LightItalic.ttf') format('truetype'),
         url('../fonts/LibreFranklin-LightItalic.woff2') format('woff2'),
         url('../fonts/LibreFranklin-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Bold.ttf') format('truetype'),
         url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
         url('../fonts/LibreFranklin-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-BoldItalic.ttf') format('truetype'),
         url('../fonts/LibreFranklin-BoldItalic.woff2') format('woff2'),
         url('../fonts/LibreFranklin-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2em;
}

main {
    flex: 1;
    padding: 2em;
	background-image: url(../img/微信图片_20241108124055.jpg);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
	background-color: #C9B8AF
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 110px;
    height: auto;
	border-radius: 30px;
	transition: all 0.3s ease;
	
}
.logo:hover img {
    transform: scale(1.1);
	transition: all 0.3s ease;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    position: relative;
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

nav .dropdown > a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    margin-left: 5px;
}

nav .dropdown .sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    background-color: #f8f9fa;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

nav .dropdown:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

nav .dropdown .sub-menu li {
    display: block;
}

nav .dropdown .sub-menu a {
    padding: 10px;
    text-align: left;
}

nav .dropdown .sub-menu a:hover {
    background-color: #F8F9FA;
}
/* adapted drop down menu from tutorial found at 
https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button */

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.language-selector button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 5px;
}

.language-selector .arrow-down::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
	
	
}


.contact-section {
    background-color: #f9f9f9;
    padding: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
	background-image: url(../img/微信图片_20241108124055.jpg);
	height:660px;
}

.contact-section h2 {
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 1rem;
}

.contact-section p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}

.contactme{
	display: flex;
	width:100%;
	flex-direction: row;
	height:390px;
}

.contact-info {
    margin-bottom: 2rem;
	width:20%;
}

.contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a p {
    margin: 0;
    color: #666;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
	width:70%;
	margin-left:5%;
	height:auto;
	margin-top:2%;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
	background-image: url(../img/微信图片_20241108124055.jpg);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
	
}

.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-form button {
    background-color: #0056b3;
    color: #fff;
    border: 2px solid #004080;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s;
}

.contact-form button:hover {
    background-color: #004080;
    transform: scale(1.05);
}


.success-message {
    display: none;
    background-color: #219653;
    color: #fff;
    border: 2px solid #1e8449;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
}


@media(max-width:900px){
	.contact-form{
		transform:translateX(50px);
	}
}



@media (max-width: 768px) {
    .contact-section {
        padding: 1.5em;
    }

    .contact-section h2 {
        font-size: 1.8rem;
    }

    .contact-section p {
        font-size: 1rem;
    }

    .contact-info h3 {
        font-size: 1.3rem;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 12px;
    }

    .contact-form button {
        padding: 12px 24px;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    flex: 1;
}

footer .social-media a {
    color: #fff;
    margin: 0 0.5em;
    font-size: 1.5em;
}


@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        margin-top: 1em;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    .search-bar, .language-selector {
        margin-top: 1em;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
    }

    .hero-content, .android-icon {
        text-align: center;
        margin-bottom: 1em;
    }
}

